/*Main body*/
html, body {
	width:100%;
}
body {
	margin: 0 auto;
	height:100vh;
	background-color:white;
	font-family: 'eurostile', sans-serif;
}
/*Button Outline fix*/
button:focus {outline:0;}
/*container*/
.container {
	display:flex;
	flex-direction:column;
}
/*navbar*/
nav {
	background-color:transparent;
	height:15vh;
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0;
	z-index:5;
	opacity:.92;
	-webkit-transition: height .7s ease;
	-moz-transition: height .7s ease;
	-o-transition: height .7s ease;
	transition: height .7s ease;
}
nav > img {
	height:100%;
	float:left;
	margin-left:5%;
	cursor:pointer;
}
/*Scrolling color change navbar*/
.nav-colored { 
	background-color:#000;
	opacity:.9;
	-webkit-transition: background-color 500ms ease;
	-moz-transition: background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}
.nav-transparent { 
	background-color:transparent;
	-webkit-transition: background-color 500ms ease;
	-moz-transition: background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}
.links{
	float:right;
	line-height:15vh;
	margin-right:7%;
}
.links > a {
	margin-left:10px;
	text-decoration:none;
	color:#FFF;
	font-size:20px;
	font-weight:700;
	padding:15px 20px;
	border: 3px solid transparent;
}
.links > a:hover {
	color:lightgrey;
}
#hamb {
	display:none;
	padding-top:0;
	margin-right:50px;
	color:white;
}
/*Hamburger Tweaks*/
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color:#FFF !important;
	color:#FFF !important;
	opacity:1;
}
.hamburger:hover {
    opacity: 1; 
}
/*Responsive*/
@media only screen and (max-width: 900px) {
	nav > img {
		height:15vh;
	}
	.nav-colored {
		height:15vh;
		background-color:#000;
		-webkit-transition: .7s ease;
		-moz-transition: .7s ease;
		-o-transition: .7s ease;
		transition: .7s ease;
	}
	.nav-transparent { 
		height:15vh;
		background-color:transparent;
		-webkit-transition: .7s ease;
		-moz-transition: .7s ease;
		-o-transition: .7s ease;
		transition: .7s ease;
	}
	nav {
		height:15vh;
		opacity:.92;
		z-index:5;
		-webkit-transition: height .7s ease;
		-moz-transition: height .7s ease;
		-o-transition: height .7s ease;
		transition: height .7s ease;
	}
	#hamb {
		float:right;
		height:15vh;
		padding:0;
		display:block;

	}
	.links{
		float:none;
		overflow:hidden;
		width:100%;
		margin-top:15vh;
	}
	.links a {
		margin-left:0;
		float:none;
		width:100%;
		display:block;
		text-align:center;
		padding:0 !important;
	}
}
/*Dropdown*/
@media only screen and (max-width: 900px) {
	nav.dropdown {
		height:100vh;
		background-color:#000;
		transition: background-color 200ms linear;
		opacity:.92;
		z-index:5;
		-webkit-transition: height .7s ease;
		-moz-transition: height .7s ease;
		-o-transition: height .7s ease;
		transition: height .7s ease;
	}
	.links.dropdown a:hover {
		color:#C9F9FF;
	}
	.links.dropdown {
		height:85vh;
	}
	a.active {
	    border-radius:5%;
	    border:none !important;
	}
	.links a {
	    border:none !important;
	}
	.banner {
        width:100%;
		background-image:url("../img/galaxy_low.jpg");
		background-position:center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		height:100%;
		overflow: hidden;
		background-attachment: scroll!important;
	    background-position: center center !important;
	    background-size:100%;
	}
}
/*Active Navbar link*/
.active {
	border: 3px solid white !important;
	border-radius:5%;
}
/*Banner*/
.banner {
	font-family: 'Source Code Pro', sans-serif;
	display:flex;
	flex-direction:column;
	justify-content:center;
	opacity:1;
	background-image: url("../img/galaxy_low.jpg");
	height:100vh;
	background-attachment:scroll;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	z-index:-1;
}
.banner h1 {
	margin:0;
	font-size:5vw;
	color:white;
	text-align:center;
	/*Image and text fade in*/
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
#desc {
	font-size:3vw;
}
.banner > div > strong {
	display:inline-block;
}
.banner > div {
	display:inline-block;
	align-self:center;
	width:80vw;
	border: 7px solid white;
	text-align:center;
	color:white;
	font-size:10vw;
}
/*Text fade in CSS3 animation*/
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/*Arrow Pointing down*/
.banner i {
	position:absolute;
	top:80vh;
	padding:20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    align-self:center;
    -webkit-animation: point 2s infinite; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: point 2s infinite; /* Firefox < 16 */
	-ms-animation: point 2s infinite; /* Internet Explorer */
	-o-animation: point 2s infinite; /* Opera < 12.1 */
	animation: point 2s infinite;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@keyframes point {
	0% { top: 80vh; }
	50%   { top: 85vh; }
	100% { top: 80vh; }
}

/* Firefox < 16 */
@-moz-keyframes point {
	0% { top: 80vh; }
	50%   { top: 85vh; }
	100% { top: 80vh; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes point {
	0% { top: 80vh; }
	50%   { top: 85vh; }
	100% { top: 80vh; }
}

/* Opera < 12.1 */
@-o-keyframes point {
	0% { top: 80vh; }
	50%   { top: 85vh; }
	100% { top: 80vh; }
}
/*About Me*/
.about {
	font-family: 'Montserrat', sans-serif;
	align-self:center;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding-top:10vh;
	width:80vw;
}
.about img {
	border-radius:50%;
}
.about p {
	text-align:justify;
	font-family:inherit;
	font-weight:400;
	font-size:2vw;
	line-height:7vh;
	margin-top:0;
}
.about .about-title{
	padding:10px;
	font-size:5vw;
	font-weight:100;
	font-family:inherit;
	border-bottom: 1px solid black;
	margin-bottom:40px;
}
.resumelink {
	font-size:2vw;
	align-self:flex-start;
	color:grey;
}
.resumelink a {
	text-decoration:none;
	color:green;
}
@media screen and (max-width: 900px) {
	.about {
		width:100vw;
	}
	.about p {
	    font-size:4vw;
		padding-right:20px;
		padding-left:20px;
		line-height: 5vh;
	}
	.resumelink {
	    font-size:3vw;
		padding-left:20px;
		margin-left:0;
	}
}
/*Hobbies*/
.hobbies {
	vertical-align:top;
	float:left;
	font-family: 'Montserrat', sans-serif;
	align-self:center;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding-top:10vh;
	width:45vw;
	height:auto;
}
.hobbies p {
	align-self:center;
	text-align:center;
	font-family:inherit;
	font-weight:400;
	font-size:3vw;
	line-height:7vh;
	margin-top:0;
}
.hobbies .hobbies-title{
	padding:10px;
	font-size:5vw;
	font-weight:100;
	font-family:inherit;
	border-bottom: 1px solid black;
	margin-bottom:40px;
	margin-top:0;
}
div span {
	margin:15px 5px;
}
/**/
/*Technologies*/
.technologies {
	float:right;
	font-family: 'Montserrat', sans-serif;
	align-self:center;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding-top:10vh;
	width:45vw;
	height:auto;
}
.technologies .technologies-title{
	padding:10px;
	font-size:5vw;
	font-weight:100;
	font-family:inherit;
	border-bottom: 1px solid black;
	margin-bottom:40px;
	margin-top:0;
}
.technologies p{
	text-align:center;
	font-family:inherit;
	font-weight:400;
	font-size:3vw;
	line-height:7vh;
	margin-top:0;
}
/*Scaling hobbies and technologies fonts*/
@media screen and (max-width: 900px) {
	.hobbies p{
		font-size:4vw;
	}
	.technologies p{
		font-size:4vw;
	}

}

/*Projects*/
.projects {
	font-family: 'Montserrat', sans-serif;
	align-self:center;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding-top:10vh;
	width:80vw;
}
.projects .projects-container {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:wrap;
	width:100vw;
}
.projects img {
	display: block;
	max-width:80vw;
	max-height:60vh;
	width: auto;
	height: auto;
	border: 1px solid black;
}
.project {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:40px;
}
.caption {
	margin-top:40px;
}
.project .caption i {
	font-size:40px;
	vertical-align:middle;
	margin-right:10px;
}
.project .caption h2{
	display: inline;
	vertical-align:middle;
}
.project .caption a{
	text-decoration:none;
}
.project .caption a:visited{
	color:black;
}
.projects .projects-title{
	padding:10px;
	font-size:5vw;
	font-weight:100;
	font-family:inherit;
	border-bottom: 1px solid black;
	margin-bottom:40px;
}
@media screen and (max-width: 900px) {
	.projects {
		width:100vw;
	}
	.contact {
	    background-attachment: scroll!important;
	    background-position: center center !important;
	    background-size:100%;
	}
}
/*Contact Form*/
.contact {
	text-align:center;
	font-family:'Montserrat', sans-serif;
	display:inline-block;
    margin:0 auto;
    width:100vw;
	color:black;
	background-image: url("../img/galaxy_low.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.contact h1 {
	color:white;
}
.contact form {
	display:inline-block;
    margin:0 auto;
    width:80vw;
    background-color:white;
    color:black;
    margin-bottom:40vh;
    height:100%;
    padding-bottom:5vh;
    padding-top:5vh;
}

/* Style the text boxes */
.contact input {
	width:35vw;
	height:5vh;
	padding:0;
	border:none;
	border-radius:1%;
	margin:0;
	background-color:#E8E8E8;
	margin-top:3px;
	font-size:0.9em;
}
.contact textarea { 
	width:35vw;
	padding:0;
	border:none;
	border-radius:1%;
	background-color:#D0D0D0;
}

textarea {
	height:100px;
	background-color:#E8E8E8;
}
.text-center {
    text-align:center;
}
.contact button {
	width:100px;
	height:5vh;
	padding:0;
	border:none;
	border-radius:1%;
	margin:0;
	background-color:#E8E8E8;
	margin-top:3px;
	font-size:0.9em;
}